body {
  margin: 60px 0;
  background-color: #fec0d0;

  font-family: "Outfit", sans-serif;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
}

.center {
  text-align: center;
}

.sign-up-section {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 45%;
  background-color: #fe4689;
}

.log-in-section {
  margin-top: 15px;
}

.footer {
  background-color: grey;
  margin: 0;
  margin-top: 20px;
}

.ul {
  margin-left: auto;
}

.nav-text {
  font-weight: 600;
  color: black !important;
}
.nav-text:hover {
  color: grey !important;
}
